/*
.aResultImg {
	height: 450px;
	margin-left: 0 !important;
	margin-right: 2em;
	margin-bottom: 1em;
}

.aResultImg img {
	height: 350px;
	margin-bottom: 2px;
}

.description {
	height
}
*/
.thumbnail img {
	height: 300px;
	margin-bottom: 5px;
}

#myCarousel {
	height: 400px;
	width: 500px;
	text-align:center;
	margin: 1em auto 0;
	padding:1em;
}

#myCarousel img {
	margin: 0 auto;
	height:400px;
}	